<!--  --- navbar ---  -->
 <div id="navbar">
  <div class="navbarelement">
    <img id="train" src="/images/train.png">
    <h4><a href="/homepage">Ticketac</a></h4>
  </div>

  <div class="navbarelement">
    <h4><a id="connexion">Connexion</a></h4>   
    <h4><a href="/lasttrips?add=noAdd">My last trips</a></h4>
    <h4><a href="/logout">Déconnexion</a></h4>
  </div>
 </div>
  